{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

<section>
    {% for competencia in competencias %}
    <article>
        <header>
            <h3>{{ competencia.nome }}</h3>
            <p>{{ competencia.nivel }} — {{ competencia.categoria }}</p>
        </header>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tecnologia in competencia.tecnologias.all %}
                    <li>{{ tecnologia.nome }}</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}
