{% extends "portfolio/base.html" %}

{% block content %}
<h2>Competências</h2>

<section>
    {% for competencia in competencias %}
    <article>
        <header>
            <h3><a href="{% url 'competencia' competencia.id %}">{{ competencia.nome }}</a></h3>
            <p>{{ competencia.nivel }} — {{ competencia.categoria }}</p>
        </header>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tecnologia in competencia.tecnologias.all %}
                    <li>{{ tecnologia.nome }}</li>
                {% endfor %}
            </ul>
        </section>

        <a href="{% url 'edita_competencia' competencia.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'apaga_competencia' competencia.id %}" class="btn-apagar">Apagar</a>
    </article>
    {% endfor %}
</section>

<a href="{% url 'nova_competencia' %}" class="btn-novo">+ Nova Competência</a>
{% endblock %}
