{% extends "portfolio/base.html" %}

{% block content %}
<h2>Projetos</h2>

<section>
    {% for projeto in projetos %}
    <article>
        <header>
            <h3><a href="{% url 'projeto' projeto.id %}">{{ projeto.titulo }}</a></h3>
            <p>{{ projeto.uc }}</p>
        </header>

        <section>
            <h4>Tecnologias</h4>
            <ul>
                {% for tecnologia in projeto.tecnologias.all %}
                    <li>{{ tecnologia.nome }}</li>
                {% endfor %}
            </ul>
        </section>

        {% if projeto.url_github %}
        <p><a href="{{ projeto.url_github }}" class="btn-novo" target="_blank">GitHub</a></p>
        {% endif %}

        <a href="{% url 'edita_projeto' projeto.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'apaga_projeto' projeto.id %}" class="btn-apagar">Apagar</a>
    </article>
    {% endfor %}
</section>

<a href="{% url 'novo_projeto' %}" class="btn-novo">+ Novo Projeto</a>
{% endblock %}
