{% extends "portfolio/base.html" %}

{% block content %}
<h2>Tecnologias</h2>

<section>
    {% for tecnologia in tecnologias %}
    <article>
        <header>
            <h3><a href="{% url 'tecnologia' tecnologia.id %}">{{ tecnologia.nome }}</a></h3>
            <p>{{ tecnologia.tipo.nome }}</p>
        </header>

        <section>
            <h4>Nível de interesse</h4>
            <p>{{ tecnologia.nivel_interesse }}</p>
        </section>

        {% if is_gestor %}
        <a href="{% url 'edita_tecnologia' tecnologia.id %}" class="btn-editar">Editar</a>
        <a href="{% url 'apaga_tecnologia' tecnologia.id %}" class="btn-apagar">Apagar</a>
        {% endif %}
    </article>
    {% endfor %}
</section>

{% if is_gestor %}
<a href="{% url 'nova_tecnologia' %}" class="btn-novo">+ Nova Tecnologia</a>
{% endif %}
{% endblock %}
