{% extends "portfolio/base.html" %}

{% block content %}
<h2>Unidades Curriculares</h2>

<section>
    {% for uc in ucs %}
    <article>
        <header>
            <h3>{{ uc.nome }}</h3>
            <p>Ano {{ uc.ano }} — Semestre {{ uc.semestre }}</p>
        </header>

        <section>
            <h4>Docentes</h4>
            <ul>
                {% for docente in uc.docentes.all %}
                    <li>{{ docente.nome }}</li>
                {% endfor %}
            </ul>
        </section>
    </article>
    {% endfor %}
</section>
{% endblock %}
